<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985357040480-s0sp4u8g7h8addrjb8dvcho905qub5t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985357040480-s0sp4u8g7h8addrjb8dvcho905qub5t2</string>
	<key>API_KEY</key>
	<string>AIzaSyCpw0qtAWlPjB6kceqRAW1QDRzazkLMFD8</string>
	<key>GCM_SENDER_ID</key>
	<string>985357040480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.social.invest</string>
	<key>PROJECT_ID</key>
	<string>social-invest-466ef</string>
	<key>STORAGE_BUCKET</key>
	<string>social-invest-466ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985357040480:ios:117bfff6f98ec8797e3c05</string>
</dict>
</plist>